@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Comfortaa', cursive;
}

#logo {
    height: 100px;
    display: inline-block;
}

nav {
    height: 130px;
    width:100vw
}

.navbar-right{
    font-size: 3vw;
    margin-top: 40px;
    margin-right:20px
}

#first-heading {
    font-family: 'Comfortaa', cursive;
    margin: 3vw;
}

#myCarousel {
    height: 50vw;
    max-width: 100vw;
    overflow: hidden;
}

.picard {
    height: 20vw;
    display:inline-block;
    margin:3vw;
}

#leftpicard{
    height: 23vw;
    
}

#rightpicard{
    height: 23vw;
    
}

#centerpicard{
    height: 23vw;
}