@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #845EC2;
    font-family: 'Comfortaa', cursive;
    background-color: #D9E8EE;
}

#logo {
    height: 7vw;
    position: relative;
}

#myNavbar {
    background-color: #D9E8EE;
    height: 20vw;
    width: 100vw;
    color: #845EC2;
}

.navbar-right {
    font-size: 2.5vw;
    margin-top: 40px;
    margin-right: 20px;
    background-color:#D9E8EE;
}

.container-fluid {
    font-size: 2.5vw; 
    height: 10vw;
    background-color: #D9E8EE;
    color: #845EC2;
    border-color: #34839C;
}

.navbar-toggle {
    background-color:rgba(107, 107, 184, 0.662);
    border: rgba(107, 107, 184, 0.662);
}

.navbar-inverse .navbar-toggle {
    border-color: #D9E8EE;
    z-index: 3;
    position: relative;
    right:3vw;
    top:3vw;
}

.navbar-inverse .navbar-collapse{
    border-color:#D9E8EE;
    z-index: 3;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #337ab7;
}

.navbar-inverse {
    border-color: #D9E8EE;
    background-color: #D9E8EE;
}
.navbar-nav>li>a {
    z-index: 3;
    background-color: #D9E8EE;
}
.navbar-collapse.in {
    overflow:visible;
}
#myCarousel {
    height: 50vw;
    max-width: 100vw;
    overflow: hidden;
}

.container-fluid {
    color: #34839C;
}

#first-heading {
    color: #b3d0d9;
    position: relative;
    left: 7vw;
    top: 7vw;
    margin-top: 5vw;
    font-size: 3vw;
    text-align: center;
    width: 58vw;
    height: 5vw;
    background-color: rgba(107, 107, 184, 0.662);
    z-index: 3;
    padding: 1%;
}

.images {
    position: relative;
    top: 4vw;
    left: 1vw;
    width: 28vw;
    margin: 1.5vw;
    border-radius: 1vw;
}

#conversion-title {
    color: #b3d0d9;
    position: relative;
    left: 5vw;
    bottom: 8vw;
    text-align: center;
    margin-top: 5vw;
    font-size: 3vw;
    width: 19vw;
    height: 4vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5%;
}

#workshop {
    width: 100%;
}

#cover-text {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    position: relative;
    left: 20vw;
    bottom: 22vw;
    font-weight: bold;
    margin-top: 5vw;
    font-size: 1.5vw;
    text-align: center;
    width: 75vw;
    height: 15vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1%;
}

#newsletter-box {
    color: #b3d0d9;
    position: relative;
    bottom: 10vw;
    height: 14vw;
    width: 100vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding-top: 4vw;
}

#newsletter {
    position: relative;
    font-size: 3vw;
    left: 3vw;
}

#newsletter-info {
    font-size: 1.5vw;

}

#newsletter-form {
    font-size: 1.5vw;
    text-align: center;
    float: right;
    color: #b3d0d9;
    position: relative;
    bottom: 8vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    height: 20vw;
    width: 20vw;
    background-color: rgb(107, 107, 184);
    margin-right: 9vw;

}

input[type=submit] {
    margin: 1vw;
    width: 7vw;
    background-color: #b3d0d9;
    border-radius: 1vw;
    color: rgb(107, 107, 184);

}

footer {
    font-size: 6vw;
    text-align: center;
    height: 6vw;
}

.socials>li {
    display: inline;
    margin-left: 5vw;
    margin-right: 5vw;

}

/* about */

#campervan-selection {
    width: 100vw;
    margin-top: 5vw;
}

#background-infomation {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5vw;
    color: #b3d0d9;
    position: relative;
    bottom: 18vw;
    left: 3vw;
    padding-top: 0.5vw;
    padding-bottom: 1vw;
    height: 15vw;
    width: 60vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1%;
}

#campervan-factory-full {
    width: 100vw;
    position: relative;
    bottom: 5vw;
}

#experience {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5vw;
    color: #b3d0d9;
    position: relative;
    bottom: 25vw;
    left: 3vw;
    padding-top: 0.5vw;
    padding-bottom: 1vw;
    height: 13vw;
    width: 60vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1%;
}

#staff-div{
    height: 65vw;
}

#staff {
    font-size: 3vw;
    color: #b3d0d9;
    position: relative;
    bottom: 10vw;
    text-align: center;
    left: 3vw;
    padding-top: 0.5vw;
    padding-bottom: 1vw;
    height: 4vw;
    width: 25vw;
    background-color: rgba(107, 107, 184, 0.662);
    border-radius: 1vw;
}

#mike-image {
    position: relative;
    bottom: 9vw;
    width: 30vw;
    margin: 1.5vw;
    border-radius: 1vw;
}

#jamie-image {
    position: relative;
    bottom: 67vw;
    left: 32vw;
    width: 30vw;
    margin: 1.5vw;
    border-radius: 1vw;
}

#mark-image {
    position: relative;
    bottom: 126vw;
    left: 64vw;
    width: 30vw;
    margin: 1.5vw;
    border-radius: 1vw;
}

#mike-info {
    background-color: rgba(107, 107, 184, 0.662);
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
    font-size: 1.5vw;
    bottom: 9vw;
    margin: 1.5vw;
    width: 30vw;
    border-radius: 1vw;
    padding: 1%;
    color: #b3d0d9;
}

#jamie-info {
    background-color: rgba(107, 107, 184, 0.662);
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
    font-size: 1.5vw;
    bottom: 67vw;
    left: 32vw;
    margin: 1.5vw;
    width: 30vw;
    border-radius: 1vw;
    padding: 1%;
    color: #b3d0d9;
}

#mark-info {
    background-color: rgba(107, 107, 184, 0.662);
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
    left: 64vw;
    bottom: 126vw;
    font-size: 1.5vw;
    margin: 1.5vw;
    width: 30vw;
    border-radius: 1vw;
    padding: 1%;
    color: #b3d0d9;
}

#video-info {
    background-color: rgba(107, 107, 184, 0.662);
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    font-size: 1.5vw;
    margin: 1.5vw;
    position: relative;
    bottom: 8vw;
    border-radius: 1vw;
    width: 63vw;
    padding: 1%;
}

#video-box {
    position: relative;
    bottom:5vw;
    left:12vw;
}

#camper-video {
    width: 75vw;
}

.covid-filming {
    width: 45vw;
    position: relative;
    padding: 1%;
    border-radius: 1vw;
    left:5vw;
}

/* conversions page */

.inside-conversion {
    position: relative;
    top: 4vw;
    left:1vw;
    width: 28vw;
    margin: 1.5vw;
    border-radius: 1vw;
}

#picard-header {
    color: #b3d0d9;
    position: relative;
    left: 60vw;
    text-align: center;
    margin-top: 5vw;
    font-size: 3vw;
    width: 37vw;
    height: 4vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5%;
    border-radius: 1vw;
}

#picard-details {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 1.5vw;
    width: 43vw;
    height: 18vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5%;
    position: relative;
    bottom: 78vw;
    left: 50vw;
    border-radius: 1vw;
}

#demo-video {
    width: 43vw;
    position: relative;
    left: 50vw;
    bottom: 25vw;
}

.section31 {
    height: 20vw;
}

#picard-continued {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 1.5vw;
    width: 80vw;
    height: 12vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5%;
    position: relative;
    bottom: 48vw;
    left: 10vw;
    border-radius: 1vw;
}

#myCarousel2 {
    width: 40vw;
    position: relative;
    left: 3vw;
}

.camper-layout {
    width: 40vw;
    position: relative;
    left: 7vw;
    margin: 1.5vw;
}

#layout-div {
    height: 20vw;
}

/*contact page*/

#white-camper {
    width: 100vw;
    position: relative;
    top: 3vw;
}

#address-heading {
    color: #b3d0d9;
    position: relative;
    left: 3vw;
    top: 3vw;
    text-align: center;
    margin-top: 5vw;
    font-size: 3vw;
    width: 37vw;
    height: 8vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5%;
    border-radius: 1vw;
}

#address {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 1.5vw;
    width: 18vw;
    height: 16vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5%;
    position: relative;
    left: 3vw;
    border-radius: 1vw;
    list-style-type: none;
}

#number {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 1.5vw;
    width: 15vw;
    height: 5vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5%;
    position: relative;
    left: 25vw;
    bottom: 20vw;
    border-radius: 1vw;
    list-style-type: none;
}

#number2 {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 1.5vw;
    width: 15vw;
    height: 5vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5%;
    position: relative;
    left: 25vw;
    bottom: 22vw;
    border-radius: 1vw;
    list-style-type: none;
}

#email1 {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 1.5vw;
    width: 37vw;
    text-align: center;
    height: 5vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5%;
    position: relative;
    left: 3vw;
    bottom: 23vw;
    border-radius: 1vw;
    list-style-type: none;
}

#gmap_canvas {
    width: 50vw;
    height: 33vw;
    position: relative;
    left: 45vw;
    bottom: 57vw;
    border-radius: 1vw;
}

.gmap_canvas {
    height: 0vw;
}

#section32 {
    height: 40vw;
}

#way-in {
    width: 41vw;
    position: relative;
    left: 2vw;
    bottom: 1vw;
    border-radius: 1vw;
}

#opening-times {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 1.5vw;
    width: 20vw;
    text-align: center;
    height: 7vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5%;
    position: relative;
    left: 77vw;
    bottom: 26vw;
    border-radius: 1vw;
    list-style-type: none;
}

#contact-us-form {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 1.5vw;
    width: 29vw;
    text-align: right;
    height: 20vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1%;
    position: relative;
    left: 45vw;
    bottom: 38vw;
    border-radius: 1vw;
    list-style-type: none;
}

/* gallery page */

#silver-campervan {
    width: 100vw;
    position: relative;
    top: 3vw;
}

#gallery-title {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 1.5vw;
    width: 29vw;
    height: 8vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1%;
    position: relative;
    left: 70vw;
    bottom: 44vw;
}

#janie-section {
    height: 40vw;
}

#janie-1 {
    position: relative;
    left: 40vw;
    bottom: 5vw;
    border-radius: 1vw;
    width: 35vw;
}

#janie-2 {
    position: relative;
    left: 29vw;
    top: 7vw;
    border-radius: 1vw;
    width: 35vw;
}

#janie-3{
    position: relative;
    left: 40vw;
    border-radius: 1vw;
    width: 35vw;
}

#janie-review {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 1.5vw;
    width: 33vw;
    height: 38vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1%;
    position: relative;
    left: 3vw;
    bottom: 55vw;
    border-radius: 1vw;
}

#rob-section {
    height: 85vw;
}

#rob-1 {
    position: relative;
    left: 30vw;
    top: 10vw;
    border-radius: 1vw;
    width: 30vw;
}

#rob-2 {
    position: relative;
    right: 26vw;
    top: 25vw;
    border-radius: 1vw;
    width: 30vw;
}

#rob-3{
    position: relative;
    right: 30vw;
    top:40vw;
    border-radius: 1vw;
    width: 30vw;
}

#rob-review {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 1.5vw;
    width: 33vw;
    height: 35vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1%;
    position: relative;
    left: 65vw;
    bottom: 20vw;
    border-radius: 1vw;
}

#john-section {
    height: 60vw;
}

#john-1 {
    position: relative;
    left: 40vw;
    bottom: 10vw;
    border-radius: 1vw;
    width: 35vw;
}

#john-2 {
    position: relative;
    left: 28vw;
    top: 10vw;
    border-radius: 1vw;
    width: 35vw;
}

#john-3{
    position: relative;
    left: 40vw;
    border-radius: 1vw;
    width: 35vw;
}

#john-review {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 1.5vw;
    width: 33vw;
    height: 46vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1%;
    position: relative;
    left: 3vw;
    bottom: 60vw;
    border-radius: 1vw;
}