@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Nanum+Gothic&display=swap');

/* all page applicable */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    color: #845EC2;
    font-family: 'Comfortaa', cursive;
    background-color: #D9E8EE;
    overflow-x: hidden;
}

p {
    margin: 0 0 1vw;
}

#logo {
    height: 10vw;
    position: relative;
    top: 1.5vw;
}

#myNavbar {
    background-color: #D9E8EE;
    height: 20vw;
    width: 99vw;
    color: #845EC2;
}

.navbar-right {
    font-size: 3vw;
    margin-top: 40px;
    margin-right: 20px;
    background-color: #D9E8EE;
}

.container-fluid {
    height: 10vw;
    background-color: #D9E8EE;
    color: #845EC2;
    border-color: #34839C;
}

.navbar-toggle {
    background-color: rgba(107, 107, 184, 0.662);
    border: rgba(107, 107, 184, 0.662);
}

.navbar-inverse .navbar-toggle {
    border-color: #D9E8EE;
    z-index: 3;
    position: relative;
    right: 3vw;
    top: 3vw;
}

.navbar-inverse .navbar-collapse {
    border-color: #D9E8EE;
    z-index: 3;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: rgb(107, 107, 184);
}

.navbar-inverse {
    border-color: #D9E8EE;
    background-color: #D9E8EE;
    z-index: 3;
}

.navbar-nav>li>a {
    z-index: 3;
    background-color: #D9E8EE;
}

.navbar-collapse.in {
    overflow: visible;
}

.navbar-inverse .navbar-nav>li>a{
    color:rgb(107, 107, 184)
}

.navbar-right{
    margin:0;
    padding-top: 5vw;
}

footer {
    font-size: 6vw;
    text-align: center;
    height: 6vw;
}

.socials>li {
    display: inline;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 4vw;
}

/*index.html*/

#myCarousel {
    position: relative;
    left: 5vw;
    width: 85vw;
    overflow: hidden;
}

.container-fluid {
    color: #34839C;
}

#first-heading {
    color: #b3d0d9;
    position: relative;
    bottom: 2vw;
    margin-top: 8vw;
    font-size: 4.5vw;
    width: 86vw;
    height: 7vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1%;
}

.images {
    position: relative;
    top: 4vw;
    left: 1vw;
    width: 28vw;
    margin: 1vw;
    border-radius: 1vw;
}

#conversion-title {
    color: #b3d0d9;
    position: relative;
    left: 5vw;
    bottom: 8vw;
    text-align: center;
    margin-top: 5vw;
    font-size: 4vw;
    width: 24vw;
    height: 5vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5vw;
}

#workshop {
    position: relative;
    bottom: 3vw;
    width: 95vw;
    padding-bottom: 3vw;
}

#cover-text {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    position: relative;
    left: 20vw;
    bottom: 41vw;
    font-weight: bold;
    margin-top: 5vw;
    font-size: 3vw;
    text-align: center;
    width: 75vw;
    height: 27vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1vw;
}

#newsletter-box {
    color: #b3d0d9;
    position: relative;
    bottom: 33vw;
    height: 25vw;
    max-width: 43vw;
    background-color: rgba(107, 107, 184, 0.662);
}

#newsletter {
    position: relative;
    font-size: 5vw;
    top: 2vw;
    left: 3vw;
}

#newsletter-info {
    font-size: 2.5vw;
    position: relative;
    top: 2vw;
    left: 3vw;
    width: 30vw;
}

#newsletter-form {
    font-size: 1.5vw;
    text-align: center;
    color: #b3d0d9;
    position: relative;
    bottom: 62vw;
    left: 43vw;
    height: 33vw;
    width: 50vw;
    background-color: rgba(107, 107, 184, 0.662);
}

.input-form {
    font-size: 3vw;
    border: 1vw;
    margin-top: 3vw;
    padding-left: 1vw;
    color: #D9E8EE;
}

.input-form-box {
    font-size: 3vw;
    border: 1vw;
    margin-top: 3vw;
    padding-left: 1vw;
    color: rgb(107, 107, 184);
}

input[type=submit] {
    margin: 1vw;
    font-size: 3vw;
    width: 13vw;
    background-color: #3b197a;
    border-radius: 1vw;
    color: rgb(255, 255, 255);
}

input:hover {
    background-color: rgb(255, 255, 255);
    color: #3b197a;
}

#section-34 {
    height: 2vw;
}

/* about.html */

#campervan-selection {
    position: relative;
    bottom: 10vw;
    width: 100vw;
    margin-top: 5vw;
}

#about-title {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 5vw;
    color: #b3d0d9;
    position: relative;
    left: 3vw;
    top: 9vw;
    padding-top: 0.5vw;
    padding-bottom: 1vw;
    height: 8vw;
    width: 18vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1%;
    z-index: 2;
}

#background-infomation {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3vw;
    color: #b3d0d9;
    position: relative;
    bottom: 39vw;
    left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 1vw;
    height: 28vw;
    width: 80vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1%;
}

#campervan-factory-full {
    width: 100vw;
    position: relative;
    bottom: 25vw;
}

#experience {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3vw;
    color: #b3d0d9;
    position: relative;
    bottom: 49vw;
    left: 1.5vw;
    height: 23vw;
    width: 95vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1vw;
}

#staff-div {
    height: 65vw;
}

#staff {
    font-size: 5vw;
    color: #b3d0d9;
    position: relative;
    bottom: 46vw;
    text-align: center;
    left: 3vw;
    padding-top: 0.5vw;
    padding-bottom: 1vw;
    height: 6vw;
    width: 40vw;
    background-color: rgba(107, 107, 184, 0.662);
    border-radius: 1vw;
}

#mike-image {
    position: relative;
    bottom: 45vw;
    left: 2vw;
    width: 30vw;
    border-radius: 1vw;
    height: 40vw;
    overflow-y: hidden;
}

#jamie-image {
    position: relative;
    width: 30vw;
    left: 2.5vw;
    bottom: 45vw;
    border-radius: 1vw;
    height: 40vw;
    overflow-y: hidden;
}

#mark-image {
    position: relative;
    bottom: 45vw;
    left: 3vw;
    width: 30vw;
    border-radius: 1vw;
}

#staff-text{
    background-color: rgba(107, 107, 184, 0.662);
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    font-size: 3.5vw;
    position: relative;
    bottom: 55vw;
    width: 100vw;
    padding-left: 2vw;
}

.column {
    text-align: center;
    float: left;
    width: 33vw;
    padding: 1vw;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#video-info {
    background-color: rgba(107, 107, 184, 0.662);
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    font-size: 4vw;
    position: relative;
    bottom: 50vw;
    width: 100vw;
    padding: 1%;
}

#video-box {
    position: relative;
    bottom: 45vw;
    left: 12vw;
}

#camper-video {
    width: 75vw;
}

.covid-filming {
    width: 45vw;
    position: relative;
    padding: 1vw;
    border-radius: 1vw;
    left: 5vw;
    bottom: 44vw;
}

#behind-scenes {
    background-color: rgba(107, 107, 184, 0.662);
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    font-size: 4vw;
    position: relative;
    width: 100vw;
    padding: 1vw;
    bottom: 40vw;
}

#behind-the-scenes{
    height: 20vw;
}

/* conversions.html */

#picard-header {
    color: #b3d0d9;
    position: relative;
    left: 48vw;
    text-align: center;
    margin-top: 5vw;
    bottom: 4vw;
    font-size: 4.5vw;
    width: 45vw;
    height: 5.5vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5%;
    border-radius: 1vw;
}

.container{
    padding-left: 3vw;
    padding-right: 3vw;
    margin-left: 0;
    margin-right: 0;
}

.inside-conversion {
    position: relative;
    left: 1vw;
    bottom: 3vw;
    width: 28vw;
    margin: 1vw;
    border-radius: 1vw;
}

#picard-details {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 2vw;
    width: 50vw;
    height: 27vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5%;
    position: relative;
    bottom: 82vw;
    left: 47vw;
    border-radius: 1vw;
}

#demo-video {
    width: 41vw;
    position: relative;
    left: 50vw;
    bottom: 24vw;
}

.section31 {
    height: 20vw;
}

#picard-continued {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 3vw;
    width: 100vw;
    height: 35vw;
    background-color: rgba(107, 107, 184, 0.662);
    position: relative;
    bottom: 58vw;
    padding: 1vw;
}

#myCarousel2 {
    width: 40vw;
    position: relative;
}

.camper-layout {
    width: 45.5vw;
    position: relative;
    left: 1vw;
    top: 30vw;
    padding: 1.5vw;
}

#camper-layout-div{
    height: 50vw;
    position: relative;
    bottom: 10vw;
}

#layout-div {
    height: 20vw;
}

/* contact.html */

#white-camper {
    width: 100vw;
    position: relative;
}

#address-heading {
    color: #b3d0d9;
    position: relative;
    left: 5vw;
    top: 1vw;
    text-align: center;
    margin-top: 5vw;
    font-size: 5vw;
    width: 50vw;
    height: 13vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 0.5%;
    border-radius: 1vw;
}

#address {
    color: #b3d0d9;
    position: relative;
    left: 5vw;
    top: 1vw;
    margin-top: 5vw;
    font-size: 4vw;
    width: 40vw;
    height: 8vw;
}

#contact-info {
    color: #b3d0d9;
    position: relative;
    left: 55vw;
    bottom: 44vw;
    margin-top: 5vw;
    font-size: 4vw;
    width: 40vw;
    height: 8vw;
}

#email-table {
    color: #b3d0d9;
    position: relative;
    left: 15vw;
    bottom: 45vw;
    margin-top: 5vw;
    font-size: 4vw;
    width: 8vw;
    height: 8vw;
}

#info-box {
    background-color: rgba(107, 107, 184, 0.662);
    height: 60vw;
    width: 100vw;
}

#contact-us-form {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 4vw;
    width: 100vw;
    height: 55vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1vw;
    position: relative;
    list-style-type: none;
}

#map {
    position: relative;
    width: 100vw;
    height: 60vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

/* gallery.html */

#silver-campervan {
    width: 100vw;
    position: relative;
}

#gallery-title {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 2vw;
    width: 29vw;
    height: 12vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1vw;
    position: relative;
    left: 2vw;
    bottom: 44vw;
}

#janie-section {
    height: 40vw;
}

#janie-1 {
    position: relative;
    left: 40vw;
    bottom: 12vw;
    border-radius: 1vw;
    width: 35vw;
}

#janie-2 {
    position: relative;
    left: 25vw;
    top: 7vw;
    border-radius: 1vw;
    width: 35vw;
}

#janie-3 {
    position: relative;
    left: 40vw;
    border-radius: 1vw;
    width: 35vw;
}

#janie-review {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 2vw;
    width: 33vw;
    height: 68vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1vw;
    position: relative;
    left: 3vw;
    bottom: 71vw;
    border-radius: 1vw;
}

#rob-section {
    height: 85vw;
}

#rob-1 {
    position: relative;
    left: 30vw;
    top: 10vw;
    border-radius: 1vw;
    width: 30vw;
}

#rob-2 {
    position: relative;
    right: 26vw;
    top: 25vw;
    border-radius: 1vw;
    width: 30vw;
}

#rob-3 {
    position: relative;
    right: 30vw;
    top: 45vw;
    border-radius: 1vw;
    width: 30vw;
}

#rob-review {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 2vw;
    width: 33vw;
    height: 62vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1vw;
    position: relative;
    left: 65vw;
    bottom: 27vw;
    border-radius: 1vw;
}

#john-section {
    height: 80vw;
}

#john-1 {
    position: relative;
    left: 40vw;
    top: 6vw;
    border-radius: 1vw;
    width: 35vw;
}

#john-2 {
    position: relative;
    left: 27vw;
    top: 28vw;
    border-radius: 1vw;
    width: 35vw;
}

#john-3 {
    position: relative;
    left: 40vw;
    border-radius: 1vw;
    width: 35vw;
    top: 15vw;
}

#john-review {
    font-family: 'Nanum Gothic', sans-serif;
    color: #b3d0d9;
    margin-top: 5vw;
    font-size: 2vw;
    width: 33vw;
    height: 68vw;
    background-color: rgba(107, 107, 184, 0.662);
    padding: 1vw;
    position: relative;
    left: 4vw;
    bottom: 59vw;
    border-radius: 1vw;
}

/* 404.html */

#image-404 {
    width: 100vw;
}

.return-home {
    font-size: 4vw;
    position: relative;
    bottom: 20vw;
    text-align: center;
    left: 5vw;
    width: 20vw;
    background-color: #3b197a;
    border-radius: 1vw;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.return-home:hover {
    background-color: rgb(255, 255, 255);
    color: #3b197a;
    text-decoration: none;
}